<section class="benefits-section">
  <div class="benefits-container">
    <div class="benefits-content">
      <div class="benefits-text">
        <h2 class="benefits-title">
          <span class="benefits-title-highlight">Credifamilia,</span> más que financiación
        </h2>
        <p class="benefits-description">
          Por eso, más que financiar acompañamos a nuestros clientes para que tenga un hogar terminado y listo para disfrutar
        </p>
      </div>
      
      <div class="benefits-image">
        <img src="assets/web/asset2.png" alt="Credifamilia equipo" loading="lazy" decoding="async">
      </div>
    </div>
    
<div class="benefits-stats">
  <img
    src="assets/web/Fondo-verde.jpg"
    alt="Estadísticas Credifamilia"
    loading="lazy"
    decoding="async"
    class="stats-bg"
  />

  <div class="stats-content">
    <div class="stat">
      <h3 class="stat-value">+15 <span class="unit">años</span></h3>
      <p class="stat-sub1">de experiencia</p> <br>
      <span class="stat-underline"></span>
    </div>

    <div class="stat">
      <h3 class="stat-value">+25mil</h3>
      <p class="stat-sub">familias felices<br>con su vivienda</p>
      <span class="stat-underline"></span>
    </div>
  </div>
</div>
    
  </div>
</section>